:root {
  --primary-color: rgb(240, 173, 48);
  --text-color: rgb(250, 245, 245);
  --header-font: "Roboto", sans-serif;
  --section-font: "Poppins", sans-serif;
}
.header {
  padding-block: 6rem;
  background: rgba(0, 0, 0, 0.6)
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/124/679/original/car3.jpg?1714251839");
  background-size: cover;
  background-blend-mode: darken;
  background-position: center center;
  background-repeat: no-repeat;
}
.header h2 {
  font-size: 40px;
  font-family: var(--header-font);
  font-weight: 900;
  font-style: bold;
  color: var(--text-color);
  padding: 0 40px;
}

.header span {
  color: var(--primary-color);
}

.header a {
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--section-font);
  font-weight: 300;
  font-style: normal;
  background-color: var(--primary-color);
  padding: 12px;
  line-height: 27px;
  margin: 20px 40px;
  text-decoration: none;
}
.header a:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 12px;
}
