:root {
  --primary-color: rgb(240, 173, 48);
  --text-color: rgb(250, 245, 245);
  --header-font: "Roboto", sans-serif;
  --section-font: "Poppins", sans-serif;
}
.header {
  padding-block: 6rem;
  background: rgba(0, 0, 0, 0.6)
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/124/679/original/car3.jpg?1714251839");
  background-size: cover;
  background-blend-mode: darken;
  background-position: center center;
  background-repeat: no-repeat;
}
.header h2 {
  font-size: 40px;
  font-family: var(--header-font);
  font-weight: 900;
  font-style: bold;
  color: var(--text-color);
  padding: 0 40px;
}

.header span {
  color: var(--primary-color);
}
.navbar-brand {
  color: var(--text-color);
  font-size: 24px;
  font-family: var(--header-font);
  font-weight: bold;
}
.navbar-brand span {
  color: var(--primary-color);
}
.nav-link {
  color: var(--text-color);
  font-family: var(--section-font);
  font-weight: 400;
}
.nav-item {
  padding: 0 15px;
}
.navbar-nav {
  margin-left: 60px;
}

.active {
  color: var(--primary-color) !important;
}
.navbar-toggler {
  color: var(--primary-color) !important;
  background-color: var(--text-color) !important;
}
.dropdown-menu a {
  color: var(--primary-color);
  font-family: var(--section-font);
  font-weight: 400;
}
.dropdown-menu {
  background-color: rgb(53, 51, 51);
}
.btn-explore {
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--section-font);
  font-weight: 300;
  font-style: normal;
  background-color: var(--primary-color);
  padding: 12px;
  line-height: 27px;
  margin: 20px 40px;
  text-decoration: none;
}
.btn-explore:hover {
  color: var(--text-color);
  background-color: orange;
  padding: 12px;
}
.landing-page-content {
  text-align: center;
  padding: 25px;
  margin-bottom: 10px;
}
.landing-page-content h2 {
  margin-top: 30px;
  text-align: center;
  font-family: var(--header-font);
  font-weight: 700;
}
.our-services {
  text-align: center;
  padding: 15px;
  font-family: var(--header-font);
  font-weight: 500;
  font-style: bold;
  font-size: 38px;
}
.service-icon {
  font-size: 38px;
  background-color: var(--primary-color);
  padding: 7px;
  border-radius: 10px;
}

.services {
  padding: 15px;
}
.secondary-heading {
  text-align: center;
  font-family: var(--header-font);
  font-weight: 500;
  font-style: bold;
  font-size: 38px;
  margin-top: 20px;
}
.reviews {
  padding: 10px;
}
.row p {
  font-size: 14px;
  font-family: var(--section-font);
  opacity: 0.8;
}
.featured-listing-heading {
  padding: 15px;
  margin-top: 60px;
  text-align: center;
  font-family: var(--header-font);
  font-weight: 500;
  font-style: bold;
  font-size: 38px;
}

.listings a,
.services a,
.btn-message {
  background-color: var(--primary-color);
  text-decoration: none;
  font-size: 14px;
  font-family: var(--section-font);
  color: rgb(20, 20, 20);
  border-radius: 4px;
}
.read-more {
  color: var(--primary-color);
  font-family: var(--section-font);
  font-weight: 400;
}
.row h4 {
  font-family: var(--header-font);
  font-size: 20px;
  font-style: bold;
  margin-top: 8px;
}

a .price {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  color: rgb(223, 147, 6);
}
.estimate {
  color: rgb(136, 86, 12);
  font-family: var(--section-font);
  font-weight: 400;
}
.listings {
  margin-bottom: 50px;
}
.coupe-cars a {
  text-decoration: none;
}
.est-price,
.condition span,
.car-brand,
.more-info {
  color: black;
  font-family: var(--section-font);
}

.est-price {
  font-size: 14px;
}
.condition i {
  color: var(--primary-color);
}
.car-brand {
  font-size: 18px;
  margin-bottom: 2px;
}
.cars-heading {
  font-size: 48px;
  font-family: var(--header-font);
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.btn-more-details {
  margin-bottom: 20px;
  margin-top: 0px;
  color: rgb(51, 158, 207);
  font-family: var(--section-font);
  font-weight: 500;
}
.contact-heading {
  margin-top: 50px;
  text-align: center;
  font-family: var(--header-font);
  font-size: 48px;
}
.contact-info,
.email {
  font-family: var(--section-font);
  text-decoration: none;
  color: black;
  opacity: 0.8;
  margin: 10px;
}
.email {
  margin: 0;
}

footer {
  margin-top: 50px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
}
footer h4 {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-weight: bold;
  margin-bottom: 15px;
}
footer a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--section-font);
  opacity: 0.7;
}
footer li {
  list-style: none;
}
footer i {
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 8px;
  margin: 5px;
  font-size: 16px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
  text-align: center;
}
h5 {
  font-family: var(--header-font);
  font-size: 28px;
  margin-bottom: 10px;
}
.email-box {
  height: 40px;
  display: flex;
  justify-content: center;
}
.email-box i {
  background-color: rgb(77, 75, 75);
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--text-color);
}
.newsletter {
  margin-top: 50px;
}
.tbox {
  width: 260px;
  padding: 0 10px;
}
button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0 10px;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 800px) {
  .each-listing {
    margin-bottom: 20px;
  }
  .our-services,
  .secondary-heading,
  .featured-listing-heading,
  .cars-heading,
  .header h2 {
    font-size: 32px;
  }
  .contact-us {
    margin-top: 20px;
  }
}
.nav-link:hover {
  color: var(--primary-color);
}
.each-listing:hover {
  border: 1px solid var(--primary-color);
}
.btn-explore a:hover {
  background-color: rgb(248, 165, 11);
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.services:hover {
  background-color: grey;
  color: var(--text-color);
}

.read-more:hover {
  color: rgb(248, 165, 11);
  font-size: 17px;
}
.all-cars:hover {
  background-color: rgba(151, 145, 145, 0.5);
  color: var(--primary-color);
}
.btn-message:hover {
  background-color: rgb(248, 165, 11);
  text-decoration: none;
  color: rgb(20, 20, 20);
}

footer ul li a:hover {
  color: var(--text-color);
  padding-left: 8px;
}

footer i:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}
